<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Mocean Page</title>
<link href="{{ asset('bundles/moceanmocean/css/styles.css') }}" rel="stylesheet" type="text/css"  />
</head>

<body>
<table id='table' width="600" border="0" style="color:#000000">
  <tr>
  	<td>&nbsp;</td>
  </tr>
  <tr>
    <td><h1>Cristian Mocean PAGE</h1></td>
  </tr>
 
  <tr>
    <td>        
                <p>
                     <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bine ati venit pe pagina mea personala. Aceasta pagina este creata cu scopul de a ma prezenta in cateva cuvinte, de a oferi niste sfaturi acelor persoane care doresc sa tina cont de ele.</b>
		</p>
		<p>
                     <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In primul rand sunt convins ca fiecare doreste sa faceceva in aceasta viata, sa se remarce. Problema noastra sociala este ca de cele mai multe ori nu reusim sa iesim in evidenta prin lucruri bune... ceea ce ne face sa scadem in ochii celorlati. Ceea ce trebuie sa facem este sa incepem sa credem in noi, sa decadem, sa fim puternici. Cu ajutorul invataturii si a urmarii sfaturilor unor apropiati putem prospera.</b> 
		</p>

		<p>
                     <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De curand am inceput sa realizez ca nu doar ceea ce fac eu este bine... si ca uneori este mult mai bine sa asculti si de alte persoane. Acum le multumesc acelor persoane care m-au ajutat in viata sa reusesc pe plan profesional si nu doar atat chiar sa evoluez zilnic...
		</p>

		<p>
                     <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ceea ce trebuie sa facem este sa evoluam zilnic, sa nu ne blocam la anumite lucruri care vor fi depasite de-a lungul zilelor. Trenbuie sa venim tot timpul cu lucruri noi in cariera profesionala, sa demonstram ca totul este posibil prin munca.</b>
		</p>
        <h2>To be continued...</h2>
	</td>
      
  </tr>
    
  <tr>
    <td>&nbsp; <center><div class="imgCristi"></div></center></td>
  </tr>
</table>
</body>
</html>
